<h1 class="text-center my-4">Search Results</h1>
<p class="lead">Occurrences of '<%= params[:search_text] %>': <%= @occurrences %></p>
<div class="d-flex">
  <div class="w-30 pe-3">
    <h3>Occurrences Navigation</h3>
    <button class="btn btn-secondary mb-2" onclick="scrollToOccurrence('prev')">Previous</button>
    <button class="btn btn-secondary" onclick="scrollToOccurrence('next')">Next</button>
  </div>
  <div class="w-70 overflow-auto"  id="pdf-viewer">
    <%= @highlighted_pdf.html_safe %>
  </div>
</div>
